# Render PostgreSQL External Database URL #URL 뒤에 ?sslmode=require 를 반드시 붙여주세요.
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
SEED_PASSWORD_F8Q2MZ="changetopassword"
SEED_PASSWORD_K3P9AV="changetopassword"
SEED_PASSWORD_R7X1TQ="changetopassword"
SEED_PASSWORD_B6N4YC="changetopassword"
SEED_PASSWORD_Z2H8KD="changetopassword"
SEED_PASSWORD_M9V5JX="changetopassword"
SEED_PASSWORD_P4C7WU="changetopassword"
SEED_PASSWORD_X1G6RA="changetopassword"
SEED_PASSWORD_D5T9PQ="changetopassword"
SEED_PASSWORD_H8S2BN="changetopassword"