.dropdown_wrap.medium {
  height: 48px;
  padding: 10px;
}

.section_head {
  flex-wrap: nowrap;
}

.section_right {
  min-width: 166px;
}

@media (max-width: 768px) {
  .section_right {
      width: 264px;
  }

  .dropdown_wrap.medium {
    width: 264px;
    height: 42px;
    padding: 8px 10px;
  }

  .dropdown_list.medium li {
    width: 100%;
    height: 42px;
    padding: 8px 10px;
  }
}