.wishlist_page .section_head {
  flex-wrap: nowrap;
}

.wishlist_page .section_right {
  min-width: 166px;
}

@media (max-width: 768px) {
  .wishlist_page .section_right {
      width: 264px;
  }

  .wishlist_page .dropdown_wrap.medium {
    width: 264px;
    height: 42px;
    padding: 8px 10px;
  }

  .wishlist_page .dropdown_wrap.medium p {
    font-size: 13px;
    word-break: keep-all;
  }
  .dropdown_wrap.medium .frame img {
    margin-left: 10px;
  }
  .wishlist_page .dropdown_list.medium li {
    height: 42px;
    padding: 8px 10px;
  }
}

@media (max-width:360px){
    .wishlist_page .section_head { flex-wrap: wrap; }
    .wishlist_page .section_right { width: 100%; }
    .wishlist_page .dropdown_wrap.medium { width: 100%; }
}