.companyoverview_page .dropdown_wrap.medium {
  height: 48px;
  padding: 10px;
}

.companyoverview_page .section_head {
  flex-wrap: nowrap;
}

.companyoverview_page .section_right {
  min-width: 166px;
}

.companyoverview_page .dropdown_list.medium li {
  width: 100%;
  height: 48px;
  padding: 10px;
}

#root>.wrap .companyoverview_page .section_body .no_data,
#root>.wrap .companyoverview_page .section_body .in_loading {
  position: fixed;
  /* 화면에 고정 */
  top: 50%;
  /* 세로 중앙 */
  left: 50%;
  /* 가로 중앙 */
  transform: translate(-50%, -50%);
  /* 정확히 중앙으로 이동 */
  color: var(--gray_200);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .companyoverview_page .section_right {
    width: 264px;
  }

  .companyoverview_page .dropdown_wrap.medium {
    width: 264px;
    height: 42px;
    padding: 8px 10px;
  }

  .companyoverview_page .dropdown_wrap.medium p {
    font-size: 13px;
  }

  .companyoverview_page .dropdown_list.medium li {
    height: 42px;
    padding: 8px 10px;
  }
}

@media (max-width:360px) {
  .companyoverview_page .section_head {
    flex-wrap: wrap;
  }

  .companyoverview_page .section_right {
    width: 100%;
  }

  .companyoverview_page .dropdown_wrap.medium {
    width: 100%;
  }
}