.dropdown_wrap.medium {
  height: 48px;
  padding: 10px;
}

.section_head {
  flex-wrap: nowrap;
}

.section_right {
  min-width: 166px;
}

@media (max-width: 768px) {
  .section_right {
      width: 264px;
  }

  .dropdown_wrap.medium {
    width: 264px;
    height: 42px;
    padding: 8px 10px;
  }

  .dropdown_list.medium li {
    width: 100%;
    height: 42px;
    padding: 8px 10px;
  }
}

#root>.wrap .section_body .no_data {
  position: fixed;          /* 화면에 고정 */
  top: 50%;                 /* 세로 중앙 */
  left: 50%;                /* 가로 중앙 */
  transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
  color: var(--gray_200);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.investment_page .section_head {
  display: flex;
  align-items: center;
  height: 64px;
}