/*pages용*/
.search_wrap {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background: var(--black_200);
  width: 448px;
}

.search_wrap .frame {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  margin: 12px;
}

/*  반응형 Tablet (1280px) */
@media (max-width: 1280px) {
  .search_wrap {
    max-width: 271px;
  }
}

/* 반응형 Mobile (768px) */
@media (max-width: 768px) {
  .search_wrap {
    max-width: none;
    flex: 1;
  }

  .search_wrap .frame {
    margin: 8px 12px;
  }
}

/*modal용*/

.search_wrap.medium, .search_wrap.small {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background: var(--black_200);
}

.search_wrap.medium {
  width: 448px;
  height: 48px;
}

.search_wrap.small {
  width: 313px;
  height: 40px;
}

.search_wrap.medium .frame {
  display: flex;
  width: 424px;
  align-items: center;
  gap: 8px;
  margin: 12px;
}

.search_wrap.small .frame {
  display: flex;
  width: 424px;
  align-items: center;
  gap: 8px;
  margin: 8px 12px;
}

/*공통*/
.search_wrap .frame .icon_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search_wrap .frame .search_icon {
  width: 15px;
  height: 15px;
  margin: 4px 4.99px 5px 4px;
  flex-shrink: 0;
}

.search_wrap .frame .delete_icon {
  display: none;
  width: 16px;
  height: 16px;
}

.search_wrap .frame .search_input {
  border: none;
  background: transparent;
  color: var(--gray-gray_100, #D8D8D8);
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search_wrap.medium .frame .search_input {
  font-size: 14px;
}

.search_wrap.small .frame .search_input {
  font-size: 13px;
}


.search_wrap .frame.has-value .icon_wrap {
  order: 2; /* 값이 있을 때 아이콘 뒤로 */
}

.search_wrap .frame.has-value .search_input {
  order: 1; /* 값이 있을 때 input 앞으로 */
}

/* input이 focus되면 부모 frame에 :focus-within 적용 */
.search_wrap .frame.has-value .icon_wrap .delete_icon {
  display: inline-block; /* focus 상태일 때만 보임 */
}
