.section {
  margin-top: 48px;
}

.section:first-child {
  margin-top: 0;
}

.section_head {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.section_title {
  flex-shrink: 0;
  margin-bottom: 16px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.section_right {
  margin-bottom: 16px;
}

.section_body {
  width: 100%;
}



/* 반응형 */

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 768px) {
    .section_title {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
    .section_head {
    flex-wrap: wrap;
  }
}

/* 반응형 end */