.table_conatiner {
    position: relative;
    /* border-radius: 12px; */
    overflow: hidden;
    /* background-color: var(--black_200); */
}

.table_wrap {
    display: inline-block;
    min-width: 100%;
}

.table_head_wrap,
.table_body_wrap {
    width: min-content;
    min-width: 100%;
    overflow: hidden;
}

.table_body_loading{
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--black_200);
    color: var(--gray_200);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.table_body_wrap.is_loading .table_body {
    visibility: hidden;
}

.table_wrap table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.table_head_wrap {
    border-radius: 4px;
    overflow: hidden;
}

.table_wrap table {
    border-collapse: collapse;
    border-spacing: 0
}



/* table col width */
.table_wrap table col.short {
    width: 68px;
}

.table_wrap table col.title {
    width: 213px;
}

.table_wrap table col.content {
    width: auto;
    min-width: 180px;
}

.table_wrap table col.etc {
    width: 153px;
}

.table_wrap table col.etc_2 {
    width: 90px;
}

.table_wrap table col.etc_3 {
    width: 200px;
}

/* table col width end */



.table_wrap th {
    text-align: center;
    background-color: var(--black_100);
}

.table_wrap th .th_inner {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}


.table_wrap .table_body_wrap {
    display: block;
    position: relative;
    margin-top: 16px;
    border-radius: 4px;
    overflow: hidden;
}

.company_detail_wrap .overflow_x {
    padding-bottom: 0;
}

.company_detail_wrap .table_body {
    border-radius: 4px;
    overflow: hidden;
}

.table_wrap td {
    padding: 0;
    vertical-align: middle;
    background-color: var(--black_200);
}

.table_wrap tr:nth-child(n+2) td {
    border-top: 1px solid var(--gray_300);
}

.table_wrap tr.selection td {
    background: var(--black_300);
}

.table_wrap .table_body .td_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
    min-height: 64px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: var(--gray_100);
}

.table_wrap td * {
    color: var(--gray_100);
}

.table_wrap td.title * {
    font-weight: 500;
    color: #fff;
}

.table_wrap .table_body td.title .td_inner {
    padding-left: 24px;
    padding-right: 33px;
    justify-content: flex-start;
    gap: 12px;
}

.table_wrap .table_body tr:has(td.title:hover)>td,
.table_wrap .table_body td.title:hover~td {
    background-color: var(--black_300);
}




.table_wrap .table_body td.content .td_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    justify-content: flex-start;
}

.table_wrap .table_body td.content.overflow .text {
    /* 두줄 ...처리 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 보여줄 줄 수 */
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.table_wrap .table_body td.content.comment {
    justify-content: space-between;
}

.table_wrap .table_body td.content.comment .text {
    width: 100%;
}

.table_wrap .table_body td.content.comment .comment_wrap {
    position: relative;
    flex-shrink: 0;
    padding-left: 15px;
    width: 39px;
    height: 24px;
}


.table_wrap .table_body td.content.comment form button .no_text {
    width: 100%;
    height: 100%;
}

.table_wrap .table_body td.content.comment form .btn_comment_menu {
    width: 100%;
    height: 100%;
    background: url('/src/assets/images/icon_table_menu.svg') center no-repeat;
}



/* comment_menu 위치 */
.comment_menu {
    position: absolute;
    z-index: 10;

    display: none;
    top: calc(50% - 20px);
    right: calc(100% - 17px);
    width: 142px;
    background-color: var(--black_400);
    border: 1px solid var(--gray_200);
    border-radius: 10px;
}

/* comment_menu 위치 */
.comment_menu li {
    width: 100%;
}

.comment_menu li+li {
    border-left: 1px solid var(--gray_200);
}

.comment_menu li .text {
    text-align: center;
}

.comment_menu li button {
    width: 100%;
    padding: 12px;
    text-align: center;
}

.btn_comment_menu.clicked+.comment_menu {
    display: flex;
}

.table_wrap .table_body td.title {
    padding: 0;
    height: 1px;
    vertical-align: middle;
}

.table_wrap .table_body .company_link .img_wrap {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.table_wrap .table_body .company_link .img_wrap {
    background: url('/src/assets/images/img_thm_noimg.png') center/cover no-repeat;
}

.table_wrap .table_body .company_link .c_nm {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    overflow: hidden;
    position: relative;
}

.table_wrap .table_body .company_link .favorite_icon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    flex-shrink: 0;
}

.table_wrap .table_body .company_link .favorite_icon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {

    /* table col width */
    .table_wrap table col.short {
        width: 48px;
    }

    .table_wrap table col.title {
        width: 152px;
    }

    .table_wrap table col.content {
        width: auto;
        min-width: 110px;
    }

    .table_wrap table col.etc {
        width: 130px;
    }

    .table_wrap table col.etc_2 {
        width: 80px;
    }

    .table_wrap table col.etc_3 {
        width: 150px;
    }
    /* table col width end */



    .table_wrap td * {
        font-size: 14px;
    }

    .table_wrap td * {
        font-size: 14px;
    }

    .table_wrap .table_body .td_inner {
        padding: 5px;
    }

    .table_wrap .table_body td.title .td_inner {
        padding: 5px 14px 5px 21px;
    }
}